@media (max-width: 1200px) {
  .estrutura {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav anuncios anuncios"
      "footer footer footer";
  }
}

@media (max-width: 760px) {
  .estrutura {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer";
  }

  .header {
    grid-template-columns: auto;
  }

  .logo {
    margin-bottom: 20px;
  }

  .header nav a {
    font-size: 1rem;
  }

  .header li + li {
    margin-left: 10px;
  }

  .sidenav ul {
    display: flex;
  }

  .sidenav ul li {
    flex: 1 0 60px;
  }

  .sidenav {
    overflow-x: auto;
    padding: 0 30px;
    position: relative;
  }

  .sidenav::after {
    content: "→";
    position: absolute;
    top: 140px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
  }

  .sidenav li a {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
}
